{plugins, [
           {rebar_raw_resource,
            {git, "git://github.com/basho/rebar_raw_resource.git",
             {branch, "master"}}}
          ]}.

{pre_hooks, [
             {compile, "mkdir -p priv/tmp"},
             {compile, "./hooks/pfring compile"},
             {"(linux|darwin|solaris)", compile, "make PROJECT=epcap -C c_src"},
             {"(freebsd|openbsd|netbsd)", compile, "gmake PROJECT=epcap -C c_src"}
            ]}.

{post_hooks, [
              {clean, "./hooks/pfring clean"},
              {"(linux|darwin|solaris)", clean, "make PROJECT=epcap -C c_src clean"},
              {"(freebsd|openbsd|netbsd)", clean, "gmake PROJECT=epcap -C c_src clean"}
             ]}.

{deps, [
        {pfring, {raw, {git, "https://github.com/ntop/PF_RING.git", {branch, "7.0.0-stable"}}}}
       , {pkt, ".*", {git, "https://github.com/msantos/pkt.git", {branch, "master"}}}
       ]}.

{dialyzer, [
            {warnings, [
                        unmatched_returns,
                        error_handling,
                        race_conditions,
                        underspecs
                       ]}]}.
